
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
        <a href="/dinosaur/{{dino.name}}">
            <figure>
                <img src="{{ dino.avatar }}">
                <figcaption>Discover the Brachiosaurus</figcaption>
            </figure>
        </a>
</section>